@page "/authors/overview"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-danger">@ErrorMessage</div>
}


<!-- Tabelle der Autoren -->
<div class="row">
    <div class="col">
        <AuthorTable AuthorViewModels="AuthorsVm"></AuthorTable>
    </div>
</div>

