<div class="alert alert-info">
    <span class="text-center text-primary small">
        Blazor: @RendererInfo.Name ### IsInteractive: @RendererInfo.IsInteractive ## Version: @System.Runtime.InteropServices.RuntimeInformation.FrameworkDescription
    </span>
</div>