@page "/"
@page "/home"
@page "/index"

@* @rendermode InteractiveServer *@
@rendermode @(new InteractiveServerRenderMode(prerender: true))

<PageTitle>Home</PageTitle>


<QuoteOfTheDay Title="Spruch des Tages" QotdVm="@QotdViewModel">
    <LogOfQotd>
        <div class="alert alert-dark">@QotdViewModel?.LogAsJson()</div>
        <div class="alert alert-info"><BlazorInfo /></div>
    </LogOfQotd>
</QuoteOfTheDay>

